# 第2章 索引

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('C:/Users/29146/PycharmProjects/DataWhale_pandas/Tasks_pandas/data/table.csv',index_col='ID')
df.head()
print(df.head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

web版本df.head()可以显示出来内容，而pycharm则需要用print方式
![pycharm](C:\Users\29146\Desktop\捕获1.JPG "区块链")

# 一单级索引

1. loc方法、iloc方法、[]操作符
最常用的索引方法可能就是这三类，其中iloc表示位置索引，loc表示标签索引，[]也具有很大的便利性，各有特点。

 （a) loc方法（注意：所有在loc中所使用的切片全部包括右端点！） 
  
  △loc方法是针对DataFrame索引名称的切片方法，如果传入的不是索引名称，那么切片操作将无法执行；利用loc方法，能够实现所有单层索引切片操作。

         loc方法使用方法：DataFrame.loc[ 行索引名称或条件 , 列索引名称 ]   # 闭区间（含最后一个值）

①单行索引

In [3]:
df.loc[1103]

School          S_1
Class           C_1
Gender            M
Address    street_2
Height          186
Weight           82
Math           87.2
Physics          B+
Name: 1103, dtype: object

②多行索引

In [4]:
print(df.loc[[1102,2304]])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
2304    S_2   C_3      F  street_6     164      81  95.5      A-

*多行索引是需要内嵌一个列表。*

In [5]:
print(df.loc[1034:].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [6]:
print(df.loc[2402::-1].head())# 顺序反过来

     School Class Gender   Address  Height  Weight  Math Physics
ID
2402    S_2   C_4      M  street_7     166      82  48.7       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2305    S_2   C_3      M  street_4     187      73  48.9       B
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2303    S_2   C_3      F  street_7     190      99  65.9       C

③单列索引

In [7]:
print(df.loc[:,'Height'].head())

ID
1101    173
1102    192
1103    186
1104    167
1105    159
Name: Height, dtype: int64

* 需要补补切片的知识 *

④多列索引

In [8]:
print(df.loc[df.index[1]:df.index[3],['Height','Math']].head())

      Height  Math
ID
1102     192  32.5
1103     186  87.2
1104     167  80.4

In [9]:
print(df.loc[df.index[1:4],['Height']].head())# loc的语法中是说行的索引，那直接上index就好了。

      Height
ID
1102     192
1103     186
1104     167

此处需要熟悉下loc源码

In [10]:
type(df)

pandas.core.frame.DataFrame

⑤联合索引

In [12]:
print(df.loc[1102:2401:3,'Height':'Math'].head())# loc前后的行列索引需要一致的方法。
#print(df.loc[1102:2401:3,df.index].head())
#Height到Math的列的所有数据

# print(df.loc[1102:2401:3,df['Height']:df['Math']].head())行不通。

      Height  Weight  Math
ID
1102     192      73  32.5
1105     159      64  84.8
1203     160      53  58.8
1301     161      68  31.5
1304     195      70  85.2

问题：联合索引如果需要索引类似列标签a,b,c,d,e,f,g,h中的a,b,d,f,g咋办？

⑥函数式索引

In [15]:
print(df.loc[lambda x : x['Gender']=='M'].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1301    S_1   C_3      M  street_4     161      68  31.5      B+

In [22]:
print(df.loc[lambda x:x['Height']>170].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1202    S_1   C_2      F  street_4     176      94  63.5      B-

In [31]:
def f(x):
    return [1101,1103]
print(df.loc[f])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+

⑦布尔索引

In [40]:
print(df.loc[df['Address'].isin(['street_7','street_4'])].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C

In [57]:
print(df.loc[[True if i[-1]=='4' or i[-1]=='7' else False for i in df['Address'].values]].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C

小结：本质上说，loc中能传入的只有布尔列表和索引自己构成的列表，只要把握这个原则容易理解上面的那些操作。

In [58]:
print(df[df['Gender']=='F'].head())

(b) iloc方法（注意与loc不同，切片右端点不包含）
①单行索引

In [59]:
df.iloc[3]
print(df.loc[1103])

School          S_1
Class           C_1
Gender            M
Address    street_2
Height          186
Weight           82
Math           87.2
Physics          B+
Name: 1103, dtype: object

In [60]:
print(df.iloc[3:5])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

②多列索引

In [62]:
print(df.iloc[:,7::-2].head())

     Physics  Weight   Address Class
ID
1101      A+      63  street_1   C_1
1102      B+      73  street_2   C_1
1103      B+      82  street_2   C_1
1104      B-      81  street_2   C_1
1105      B+      64  street_4   C_1

③多行索引

In [65]:
print(df.iloc[3:5])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

④单列索引

In [71]:
df.iloc[:,3].head()

ID
1101    street_1
1102    street_2
1103    street_2
1104    street_2
1105    street_4
Name: Address, dtype: object

⑤混合索引

In [73]:
df.iloc[3::4,7::-2].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Physics</th>
      <th>Weight</th>
      <th>Address</th>
      <th>Class</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1104</td>
      <td>B-</td>
      <td>81</td>
      <td>street_2</td>
      <td>C_1</td>
    </tr>
    <tr>
      <td>1203</td>
      <td>A+</td>
      <td>53</td>
      <td>street_6</td>
      <td>C_2</td>
    </tr>
    <tr>
      <td>1302</td>
      <td>A-</td>
      <td>57</td>
      <td>street_1</td>
      <td>C_3</td>
    </tr>
    <tr>
      <td>2101</td>
      <td>C</td>
      <td>84</td>
      <td>street_7</td>
      <td>C_1</td>
    </tr>
    <tr>
      <td>2105</td>
      <td>A</td>
      <td>81</td>
      <td>street_4</td>
      <td>C_1</td>
    </tr>
  </tbody>
</table>
</div>

⑥函数式索引

In [74]:
print(df.iloc[lambda x:[3]].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-

小结：有上述，iloc中接受的参数只能为整数或者整数列表，不能是布尔索引

(c)[]操作符

如果 不想陷入困境，请不要在行索引为浮点是使用[]操作符，因为Series中的浮点[]并不是进行位置比较。而是值比较，非常特殊，例子如下：

In [77]:
s = pd.Series([1,3,4,6],index=[1,2,3,4])
#print(s)
#print(s[2:])
ss = pd.Series([1,3,4,6],index=[1.1,2.1,3.1,4.4])
dd = pd.DataFrame([1,3,4,6],index=[1.1,2.1,3.1,4.4])
#print(ss)
print(dd)
print("ss:",ss[2.1:])
print("dd:",dd[2.1:])
#print(ss[2:])
#print(ss[2.1])

     0
1.1  1
2.1  3
3.1  4
4.4  6
ss: 2.1    3
3.1    4
4.4    6
dtype: int64
dd:      0
2.1  3
3.1  4
4.4  6

为啥上面会有一个0出现

①单元素索引

In [79]:
s = pd.Series(df['Math'],index=df.index)
s[1101]

34.0

②多行索引

In [82]:
s[0:4]

ID
1101    34.0
1102    32.5
1103    87.2
1104    80.4
Name: Math, dtype: float64

③函数式索引

In [83]:
s[lambda x:x.index[16::-6]]

ID
2102    50.6
1301    31.5
1105    84.8
Name: Math, dtype: float64

In [86]:
s[16::-6]
#注意使用lambda函数式时，直接切片就报错，比如s[lambda  X:16::-6].此时使用的不是绝对位置切片，而是元素切片，非常易错              .

ID
2102    50.6
1301    31.5
1105    84.8
Name: Math, dtype: float64

④布尔索引

In [88]:
print(s[s>80])
print('````````````````````````````')
print(type(s>80))#返回的是布尔值
if s>80:
    print(s[s])

ID
1103    87.2
1104    80.4
1105    84.8
1201    97.0
1302    87.7
1304    85.2
2101    83.3
2205    85.4
2304    95.5
Name: Math, dtype: float64
````````````````````````````
<class 'pandas.core.series.Series'>

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

这里为啥是s跟80比较

(c.2)DataFrame的[]操作

①单行操作：

In [97]:
print(df[1:2])#左闭右开区间
#这里非常容易写成df['label']，会报错
#同Series使用了绝对位置切片
#如果想要获得某一个元素，可用如下get_loc方法：

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

In [115]:
row = df.index.get_loc(1102)
print(df[row:row+1])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

②多行索引
##用切片，如果是选定的某几行，推荐使用loc,否则很可能报错

In [127]:
print(df[3:5])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

③单列索引

In [128]:
df['School'].head()

ID
1101    S_1
1102    S_1
1103    S_1
1104    S_1
1105    S_1
Name: School, dtype: object

④多列索引

In [129]:
df[['School','Math']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>School</th>
      <th>Math</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1101</td>
      <td>S_1</td>
      <td>34.0</td>
    </tr>
    <tr>
      <td>1102</td>
      <td>S_1</td>
      <td>32.5</td>
    </tr>
    <tr>
      <td>1103</td>
      <td>S_1</td>
      <td>87.2</td>
    </tr>
    <tr>
      <td>1104</td>
      <td>S_1</td>
      <td>80.4</td>
    </tr>
    <tr>
      <td>1105</td>
      <td>S_1</td>
      <td>84.8</td>
    </tr>
  </tbody>
</table>
</div>

⑤函数式索引

In [130]:
df[lambda x:['Math','Physics']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Math</th>
      <th>Physics</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1101</td>
      <td>34.0</td>
      <td>A+</td>
    </tr>
    <tr>
      <td>1102</td>
      <td>32.5</td>
      <td>B+</td>
    </tr>
    <tr>
      <td>1103</td>
      <td>87.2</td>
      <td>B+</td>
    </tr>
    <tr>
      <td>1104</td>
      <td>80.4</td>
      <td>B-</td>
    </tr>
    <tr>
      <td>1105</td>
      <td>84.8</td>
      <td>B+</td>
    </tr>
  </tbody>
</table>
</div>

⑥布尔索引

In [131]:
print(df[df['Gender']=='F'].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1204    S_1   C_2      F  street_5     162      63  33.8       B

小结：一般来说，[]操作符常用语列选择或布尔操作，尽量避免行的选择

##2.	布尔索引

（a）布尔符号："&","|","~"分别是and,or,not,

In [132]:
print(df[(df['Gender']=='F')&(df['Address']=='street_2')].head())

In [135]:
print(df[(df['Math']>85)|(df['Address']=='street_7')].head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A

In [136]:
print(df[~(df['Math']>75)|(df['Address']=='street_1')].head())

loc和[]中相应位置都能使用布尔列表选择：

In [138]:
print(df.loc[df['Math']>60,(df[:8]['Address']=='street_6').values].head())

df.loc[df['Math']>60,(df[:9]['Address']=='street_6').values].head()
##如果不加values就会索引对齐发生错误，Pandas中的索引对齐是一个重要特征，很多时候非常使用
#但是若不加以留意，就会埋下隐患

     Physics
ID
1103      B+
1104      B-
1105      B+
1201      A-
1202      B-

IndexError: Item wrong length 9 instead of 8.

In [139]:
print((df[:8]['Address']=='street_6').values)#列
print(df['Math']>60)#行
#返回列为true，行为true的

[False False False False False False False  True]
ID
1101    False
1102    False
1103     True
1104     True
1105     True
1201     True
1202     True
1203    False
1204    False
1205     True
1301    False
1302     True
1303    False
1304     True
1305     True
2101     True
2102    False
2103    False
2104     True
2105    False
2201    False
2202     True
2203     True
2204    False
2205     True
2301     True
2302    False
2303     True
2304     True
2305    False
2401    False
2402    False
2403    False
2404     True
2405    False
Name: Math, dtype: bool

#没有索引对齐的反例子

In [140]:
df.loc[df['Math']>60,(df[:8]['Address']=='street_6')].head()

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

##b) isin 方法（用于选取DataFrame指定列）

In [141]:
print(df[df['Address'].isin(['street_1','street_4'])&df['Physics'].isin(['A','A+'])])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

In [142]:
#字典形式改写上面程序
print(df[df[['Address','Physics']].isin({'Address':['street_1','street_4'],'Physics':['A','A+']}).all(1)])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

 #3.快速标量索引

	当只需要取一个元素时，at和iat方法能够提供更快的实现：

In [144]:
display(df.at[1101,'School'])
display(df.loc[1101,'School'])
display(df.iat[0,0])
display(df.iloc[0,0])
%timeit df.at[1101,'School']
%timeit df.loc[1101,'School']
%timeit df.iat[0,0]
%timeit df.iloc[0,0]

'S_1'

'S_1'

'S_1'

'S_1'

6.46 µs ± 605 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

9.07 µs ± 300 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

6.51 µs ± 335 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

11.5 µs ± 1.08 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

4.区间索引

此处介绍并不是说只能在单级索引中使用区间索引，只是作为一种特殊类型的索引方式，在此处先行介绍

（a）利用interval_range方法

In [146]:
pd.interval_range(start=0,end=5)
# closed参数可选'left','right','both','neither',默认左开右闭

IntervalIndex([(0, 1], (1, 2], (2, 3], (3, 4], (4, 5]],
              closed='right',
              dtype='interval[int64]')

In [149]:
pd.interval_range(start=0,periods=8,freq=5)
# period参数控制区间个数，freq控制步长

IntervalIndex([(0, 5], (5, 10], (10, 15], (15, 20], (20, 25], (25, 30], (30, 35], (35, 40]],
              closed='right',
              dtype='interval[int64]')

（b）利用cut将数值列转为区间为元素的分类变量，例如统计数学成绩的区间情况：

In [151]:
math_interval = pd.cut(df['Math'],bins=[0,40,60,80,100])
print(math_interval)

ID
1101      (0, 40]
1102      (0, 40]
1103    (80, 100]
1104    (80, 100]
1105    (80, 100]
1201    (80, 100]
1202     (60, 80]
1203     (40, 60]
1204      (0, 40]
1205     (60, 80]
1301      (0, 40]
1302    (80, 100]
1303     (40, 60]
1304    (80, 100]
1305     (60, 80]
2101    (80, 100]
2102     (40, 60]
2103     (40, 60]
2104     (60, 80]
2105      (0, 40]
2201      (0, 40]
2202     (60, 80]
2203     (60, 80]
2204     (40, 60]
2205    (80, 100]
2301     (60, 80]
2302      (0, 40]
2303     (60, 80]
2304    (80, 100]
2305     (40, 60]
2401     (40, 60]
2402     (40, 60]
2403     (40, 60]
2404     (60, 80]
2405     (40, 60]
Name: Math, dtype: category
Categories (4, interval[int64]): [(0, 40] < (40, 60] < (60, 80] < (80, 100]]

（c）区间索引的选取

In [152]:
df_i = df.join(math_interval,rsuffix='_interval')[['Math','Math_interval']]\
    .reset_index().set_index('Math_interval')
df_i.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Math</th>
    </tr>
    <tr>
      <th>Math_interval</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(0, 40]</td>
      <td>1101</td>
      <td>34.0</td>
    </tr>
    <tr>
      <td>(0, 40]</td>
      <td>1102</td>
      <td>32.5</td>
    </tr>
    <tr>
      <td>(80, 100]</td>
      <td>1103</td>
      <td>87.2</td>
    </tr>
    <tr>
      <td>(80, 100]</td>
      <td>1104</td>
      <td>80.4</td>
    </tr>
    <tr>
      <td>(80, 100]</td>
      <td>1105</td>
      <td>84.8</td>
    </tr>
  </tbody>
</table>
</div>

In [154]:
df_i.loc[65].head()
#包含该值会被选中

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Math</th>
    </tr>
    <tr>
      <th>Math_interval</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(60, 80]</td>
      <td>1202</td>
      <td>63.5</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>1205</td>
      <td>68.4</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>1305</td>
      <td>61.7</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>2104</td>
      <td>72.2</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>2202</td>
      <td>68.5</td>
    </tr>
  </tbody>
</table>
</div>

In [155]:
df_i.loc[[65,90]].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Math</th>
    </tr>
    <tr>
      <th>Math_interval</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(60, 80]</td>
      <td>1202</td>
      <td>63.5</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>1205</td>
      <td>68.4</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>1305</td>
      <td>61.7</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>2104</td>
      <td>72.2</td>
    </tr>
    <tr>
      <td>(60, 80]</td>
      <td>2202</td>
      <td>68.5</td>
    </tr>
  </tbody>
</table>
</div>

####上面的区间选择的是（60,80）

#### 如果想要选取某个区间，先要把分类变量转为区间变量，再使用overlap方法：

In [160]:
#df_i.loc[pd.Interval(70,75)].head()报错为啥
print(df_i[df_i.index.astype('interval').overlaps(pd.Interval(70,85))])
#overlaps(重叠）
#interval（区间）

                 ID  Math
Math_interval
(80, 100]      1103  87.2
(80, 100]      1104  80.4
(80, 100]      1105  84.8
(80, 100]      1201  97.0
(60, 80]       1202  63.5
(60, 80]       1205  68.4
(80, 100]      1302  87.7
(80, 100]      1304  85.2
(60, 80]       1305  61.7
(80, 100]      2101  83.3
(60, 80]       2104  72.2
(60, 80]       2202  68.5
(60, 80]       2203  73.8
(80, 100]      2205  85.4
(60, 80]       2301  72.3
(60, 80]       2303  65.9
(80, 100]      2304  95.5
(60, 80]       2404  67.7

## 二、多级索引
### 1. 创建多级索引
#### （a）通过from_tuple或from_arrays
#### ① 直接创建元组

In [161]:
tuples = [('A','a'),('A','b'),('B','a'),('B','b')]
mul_index = pd.MultiIndex.from_tuples(tuples,names=('Upper','Lower'))
mul_index

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           names=['Upper', 'Lower'])

In [162]:
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Score</th>
    </tr>
    <tr>
      <th>Upper</th>
      <th>Lower</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" valign="top">A</td>
      <td>a</td>
      <td>perfect</td>
    </tr>
    <tr>
      <td>b</td>
      <td>good</td>
    </tr>
    <tr>
      <td rowspan="2" valign="top">B</td>
      <td>a</td>
      <td>fair</td>
    </tr>
    <tr>
      <td>b</td>
      <td>bad</td>
    </tr>
  </tbody>
</table>
</div>

#### ② 利用zip创建元组

In [165]:
L1 =list('AABB')
L2 = list('abab')
tuples = list(zip(L1,L2))
print(tuples)
mul_index = pd.MultiIndex.from_tuples(tuples,names=('Upper','Lower'))
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

[('A', 'a'), ('A', 'b'), ('B', 'a'), ('B', 'b')]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Score</th>
    </tr>
    <tr>
      <th>Upper</th>
      <th>Lower</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" valign="top">A</td>
      <td>a</td>
      <td>perfect</td>
    </tr>
    <tr>
      <td>b</td>
      <td>good</td>
    </tr>
    <tr>
      <td rowspan="2" valign="top">B</td>
      <td>a</td>
      <td>fair</td>
    </tr>
    <tr>
      <td>b</td>
      <td>bad</td>
    </tr>
  </tbody>
</table>
</div>

#### 通过Array创建

In [166]:
arrays = [['A','a'],['A','b'],['B','a'],['B','b']]
mul_index = pd.MultiIndex.from_tuples(arrays,names=('Upper','Lower'))
pd.DataFrame({"Score":['perfect','good','fair','bad']},index=mul_index)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Score</th>
    </tr>
    <tr>
      <th>Upper</th>
      <th>Lower</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" valign="top">A</td>
      <td>a</td>
      <td>perfect</td>
    </tr>
    <tr>
      <td>b</td>
      <td>good</td>
    </tr>
    <tr>
      <td rowspan="2" valign="top">B</td>
      <td>a</td>
      <td>fair</td>
    </tr>
    <tr>
      <td>b</td>
      <td>bad</td>
    </tr>
  </tbody>
</table>
</div>

In [168]:
mul_index
#由此看出内部自动转成元组

#### （b）通过from_product

In [170]:
L1 = ['A','B']
L2 = ['a','b']
pd.MultiIndex.from_product([L1,L2],names=('Upper','Lower'))
#两两相乘

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           names=['Upper', 'Lower'])

#### （c）指定df中的列创建（set_index方法）

In [176]:
df_using_mul = df.set_index(['Class','Address'])
print(df_using_mul.head())

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

### 2. 多层索引切片

In [177]:
df_using_mul.head()

#### （a）一般切片

In [185]:
# df_using_mul.loc['C_2','street_5']
""".
py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
 Entry point for launching an IPython kernel.
"""
# df_using_mul.index.is_lexsorted()
# 该函数检查是否排序
# df_using_mul.sort_index().index.is_lexsorted()
print(df_using_mul.sort_index().loc['C_2','street_5'])

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_5    S_1      M     188      68  97.0      A-
      street_5    S_1      F     162      63  33.8       B
      street_5    S_2      M     193     100  39.1       B

In [188]:
# df_using_mul.loc[('C_2','street_5'):]
"""
UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (0)'
"""
#当不排序时，不能使用多层切片
print(df_using_mul.sort_index().loc[('C_2','street_6'):('C_3','street_4')])
#注意此处由于使用了loc，因此仍然包含右端点

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_6    S_1      M     160      53  58.8      A+
      street_6    S_1      F     167      63  68.4      B-
      street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_1    S_1      F     175      57  87.7      A-
      street_2    S_1      M     195      70  85.2       A
      street_4    S_1      M     161      68  31.5      B+
      street_4    S_2      F     157      78  72.3      B+
      street_4    S_2      M     187      73  48.9       B

In [190]:
print(df_using_mul.sort_index().loc[('C_2','street_7'):'C_3'].head())
#非元组也是合法的，表示选中该层所有元素

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_1    S_1      F     175      57  87.7      A-
      street_2    S_1      M     195      70  85.2       A
      street_4    S_1      M     161      68  31.5      B+

#### （b）第一类特殊情况：由元组构成列表

In [192]:
print(df_using_mul.sort_index().loc[[('C_2','street_7'),('C_3','street_2')]])

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_2    S_1      M     195      70  85.2       A

#### （c）第二类特殊情况：由列表构成元组

In [194]:
print(df_using_mul.sort_index().loc[(['C_2','C_3'],['street_4','street_7']),:])
#选出第一层在‘C_2’和'C_3'中且第二层在'street_4'和'street_7'中的行

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_4    S_1      F     176      94  63.5      B-
      street_4    S_2      M     155      91  73.8      A+
      street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_4    S_1      M     161      68  31.5      B+
      street_4    S_2      F     157      78  72.3      B+
      street_4    S_2      M     187      73  48.9       B
      street_7    S_1      M     188      82  49.7       B
      street_7    S_2      F     190      99  65.9       C

### 3. 多层索引中的slice对象

In [197]:
L1,L2 = ['A','B','C'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_s = pd.DataFrame(np.random.rand(9,9),index=mul_index1,columns=mul_index2)
print(df_s)

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.864391  0.714078  0.271285  0.756465  0.748557  0.679896
      b      0.090749  0.246407  0.241396  0.406361  0.884900  0.072122
      c      0.236361  0.106546  0.286186  0.795982  0.939450  0.820210
B     a      0.007423  0.238430  0.790200  0.792669  0.452499  0.910075
      b      0.705756  0.684828  0.646193  0.642448  0.508978  0.446434
      c      0.019575  0.329740  0.864165  0.441382  0.027782  0.725615
C     a      0.316079  0.917979  0.148862  0.121552  0.497111  0.434123
      b      0.700321  0.668722  0.828870  0.951165  0.915232  0.178456
      c      0.979892  0.100730  0.850781  0.228032  0.202791  0.043482

Big                 F
Small               d         e         f
Upper Lower
A     a      0.127708  0.768663  0.559134
      b      0.903652  0.742082  0.867809
      c      0.742870  0.333443  0.456928
B     a      0.420858  0.770235  0.706966
      b      0.790129  0.092030  0.219359
      c      0.221063  0.653719  0.310378
C     a      0.238951  0.525873  0.184375
      b      0.663042  0.685576  0.141874
      c      0.876464  0.828517  0.980614

In [198]:
idx=pd.IndexSlice

#### 索引Slice的使用非常灵活：

In [200]:
print(df_s.loc[idx['B':,df_s['D']['d']>0.3],idx[df_s.sum()>4]])
#df_s.sum()默认为对列求和，因此返回一个长度为9的数值列表

Big                 D                   E                             F  \
Small               e         f         d         e         f         d
Upper Lower
B     b      0.684828  0.646193  0.642448  0.508978  0.446434  0.790129
C     a      0.917979  0.148862  0.121552  0.497111  0.434123  0.238951
      b      0.668722  0.828870  0.951165  0.915232  0.178456  0.663042
      c      0.100730  0.850781  0.228032  0.202791  0.043482  0.876464

Big
Small               e         f
Upper Lower
B     b      0.092030  0.219359
C     a      0.525873  0.184375
      b      0.685576  0.141874
      c      0.828517  0.980614

### 4. 索引层的交换
#### （a）swaplevel方法（两层交换）

In [202]:
print(df_using_mul.head())

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

In [204]:
print(df_using_mul.swaplevel(i=1,j=0,axis=0).sort_index().head())

               School Gender  Height  Weight  Math Physics
Address  Class
street_1 C_1      S_1      M     173      63  34.0      A+
         C_2      S_2      M     175      74  47.2      B-
         C_3      S_1      F     175      57  87.7      A-
street_2 C_1      S_1      F     192      73  32.5      B+
         C_1      S_1      M     186      82  87.2      B+

#### （b）reorder_levels方法（多层交换）

In [205]:
df_muls = df.set_index(['School','Class','Address'])
print(df_muls.head())

                      Gender  Height  Weight  Math Physics
School Class Address
S_1    C_1   street_1      M     173      63  34.0      A+
             street_2      F     192      73  32.5      B+
             street_2      M     186      82  87.2      B+
             street_2      F     167      81  80.4      B-
             street_4      F     159      64  84.8      B+

In [209]:
print(df_muls.reorder_levels([2,0,1],axis=0).sort_index().head())

                      Gender  Height  Weight  Math Physics
Address  School Class
street_1 S_1    C_1        M     173      63  34.0      A+
                C_3        F     175      57  87.7      A-
         S_2    C_2        M     175      74  47.2      B-
street_2 S_1    C_1        F     192      73  32.5      B+
                C_1        M     186      82  87.2      B+

In [210]:
print(df_muls.reorder_levels([2,0,1],axis=0).sort_index().head())

                      Gender  Height  Weight  Math Physics
Address  School Class
street_1 S_1    C_1        M     173      63  34.0      A+
                C_3        F     175      57  87.7      A-
         S_2    C_2        M     175      74  47.2      B-
street_2 S_1    C_1        F     192      73  32.5      B+
                C_1        M     186      82  87.2      B+

In [211]:
#如果索引有name，可以直接使用name
print(df_muls.reorder_levels(['Address','School','Class'],axis=0).sort_index().head())

                      Gender  Height  Weight  Math Physics
Address  School Class
street_1 S_1    C_1        M     173      63  34.0      A+
                C_3        F     175      57  87.7      A-
         S_2    C_2        M     175      74  47.2      B-
street_2 S_1    C_1        F     192      73  32.5      B+
                C_1        M     186      82  87.2      B+

对行索引列表进行重排列

## 三、索引设定
### 1. index_col参数
#### index_col是read_csv中的一个参数，而不是某一个方法：

In [213]:
print(pd.read_csv('C:/Users/29146/PycharmProjects/DataWhale_pandas/Tasks_pandas/data/table.csv',index_col=['Address','School']).head())

                Class    ID Gender  Height  Weight  Math Physics
Address  School
street_1 S_1      C_1  1101      M     173      63  34.0      A+
street_2 S_1      C_1  1102      F     192      73  32.5      B+
         S_1      C_1  1103      M     186      82  87.2      B+
         S_1      C_1  1104      F     167      81  80.4      B-
street_4 S_1      C_1  1105      F     159      64  84.8      B+

### 2. reindex和reindex_like
#### reindex是指重新索引，它的重要特性在于索引对齐，很多时候用于重新排序

In [215]:
print(df.head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [218]:
print(df.reindex(index=[1101,1203,1206,2402]))

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1   173.0    63.0  34.0      A+
1203    S_1   C_2      M  street_6   160.0    53.0  58.8      A+
1206    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN
2402    S_2   C_4      M  street_7   166.0    82.0  48.7       B

In [219]:
print(df.reindex(columns=['Height','Gender','Average']).head())

      Height Gender  Average
ID
1101     173      M      NaN
1102     192      F      NaN
1103     186      M      NaN
1104     167      F      NaN
1105     159      F      NaN

#### 可以选择缺失值的填充方法：fill_value和method（bfill/ffill/nearest），其中method参数必须索引单调

In [222]:
print(df.reindex(index=[1101,1203,1206,2402],method='bfill'))
#bfill表示用所在索引1206的后一个有效行填充，ffill为前一个有效行，nearest是指最近的

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1206    S_1   C_3      M  street_4     161      68  31.5      B+
2402    S_2   C_4      M  street_7     166      82  48.7       B

In [225]:
print(df.reindex(index=[1101,1203,1206,2402],method='nearest'))
#数值上1205比1301更接近1206，因此用前者填充

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1206    S_1   C_2      F  street_6     167      63  68.4      B-
2402    S_2   C_4      M  street_7     166      82  48.7       B

#### reindex_like的作用为生成一个横纵索引完全与参数列表一致的DataFrame，数据使用被调用的表

In [232]:
df_temp = pd.DataFrame({'Weight':np.zeros(5),
                        'Height':np.zeros(5),
                        'ID':[1101,1104,1103,1106,1102]}).set_index('ID')
print(df_temp)
print(df[0:5][['Weight','Height']])
print(df_temp.reindex_like(df[0:5][['Weight','Height']]))

      Weight  Height
ID
1101     0.0     0.0
1104     0.0     0.0
1103     0.0     0.0
1106     0.0     0.0
1102     0.0     0.0
      Weight  Height
ID
1101      63     173
1102      73     192
1103      82     186
1104      81     167
1105      64     159
      Weight  Height
ID
1101     0.0     0.0
1102     0.0     0.0
1103     0.0     0.0
1104     0.0     0.0
1105     NaN     NaN

df_temp中没有的行列1105,在reindex_like操作中整行变成了NAN

#### 如果df_temp单调还可以使用method参数：

In [233]:
df_temp = pd.DataFrame({'Weight':range(5),
                        'Height':range(5),
                        'ID':[1101,1104,1103,1106,1102]}).set_index('ID').sort_index()
df_temp.reindex_like(df[0:5][['Weight','Height']],method='bfill')
#可以自行检验这里的1105的值是否是由bfill规则填充

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Weight</th>
      <th>Height</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1101</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1102</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <td>1103</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>1104</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1105</td>
      <td>3</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

### 3. set_index和reset_index
#### 先介绍set_index：从字面意思看，就是将某些列作为索引

#### 使用表内列作为索引：

In [235]:
print(df.head())

In [237]:
print(df.set_index('Class').head())

      School Gender   Address  Height  Weight  Math Physics
Class
C_1      S_1      M  street_1     173      63  34.0      A+
C_1      S_1      F  street_2     192      73  32.5      B+
C_1      S_1      M  street_2     186      82  87.2      B+
C_1      S_1      F  street_2     167      81  80.4      B-
C_1      S_1      F  street_4     159      64  84.8      B+

#### 利用append参数可以将当前索引维持不变

In [239]:
print(df.set_index('Class',append=True).head())

           School Gender   Address  Height  Weight  Math Physics
ID   Class
1101 C_1      S_1      M  street_1     173      63  34.0      A+
1102 C_1      S_1      F  street_2     192      73  32.5      B+
1103 C_1      S_1      M  street_2     186      82  87.2      B+
1104 C_1      S_1      F  street_2     167      81  80.4      B-
1105 C_1      S_1      F  street_4     159      64  84.8      B+

#### 当使用与表长相同的列作为索引（需要先转化为Series，否则报错）：

In [241]:
print(df.set_index(pd.Series(range(df.shape[0]))).head())

  School Class Gender   Address  Height  Weight  Math Physics
0    S_1   C_1      M  street_1     173      63  34.0      A+
1    S_1   C_1      F  street_2     192      73  32.5      B+
2    S_1   C_1      M  street_2     186      82  87.2      B+
3    S_1   C_1      F  street_2     167      81  80.4      B-
4    S_1   C_1      F  street_4     159      64  84.8      B+

#### 可以直接添加多级索引：

In [243]:
print(df.set_index([pd.Series(range(df.shape[0])),pd.Series(np.ones(df.shape[0]))]).head())

      School Class Gender   Address  Height  Weight  Math Physics
0 1.0    S_1   C_1      M  street_1     173      63  34.0      A+
1 1.0    S_1   C_1      F  street_2     192      73  32.5      B+
2 1.0    S_1   C_1      M  street_2     186      82  87.2      B+
3 1.0    S_1   C_1      F  street_2     167      81  80.4      B-
4 1.0    S_1   C_1      F  street_4     159      64  84.8      B+

#### 下面介绍reset_index方法，它的主要功能是将索引重置
#### 默认状态直接恢复到自然数索引：

In [246]:
print(df.reset_index().head())

     ID School Class Gender   Address  Height  Weight  Math Physics
0  1101    S_1   C_1      M  street_1     173      63  34.0      A+
1  1102    S_1   C_1      F  street_2     192      73  32.5      B+
2  1103    S_1   C_1      M  street_2     186      82  87.2      B+
3  1104    S_1   C_1      F  street_2     167      81  80.4      B-
4  1105    S_1   C_1      F  street_4     159      64  84.8      B+

#### 用level参数指定哪一层被reset，用col_level参数指定set到哪一层：

In [248]:
L1,L2 = ['A','B','C'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_temp = pd.DataFrame(np.random.rand(9,9),index=mul_index1,columns=mul_index2)
print(df_temp.head())

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.661924  0.356784  0.515799  0.847461  0.997227  0.387295
      b      0.606067  0.762374  0.760741  0.000387  0.111107  0.976741
      c      0.318938  0.452649  0.002374  0.708844  0.193136  0.851944
B     a      0.724229  0.058606  0.052831  0.540780  0.922466  0.129869
      b      0.253248  0.914955  0.762799  0.023795  0.843190  0.112703

Big                 F
Small               d         e         f
Upper Lower
A     a      0.622148  0.040594  0.313898
      b      0.522156  0.354165  0.285631
      c      0.158870  0.398349  0.023936
B     a      0.124928  0.830106  0.623075
      b      0.958154  0.482306  0.871059

In [257]:
df_temp1 = df_temp.reset_index(level=1,col_level=1)
print(df_temp1.head())

Big                 D                             E                      \
Small Lower         d         e         f         d         e         f
Upper
A         a  0.661924  0.356784  0.515799  0.847461  0.997227  0.387295
A         b  0.606067  0.762374  0.760741  0.000387  0.111107  0.976741
A         c  0.318938  0.452649  0.002374  0.708844  0.193136  0.851944
B         a  0.724229  0.058606  0.052831  0.540780  0.922466  0.129869
B         b  0.253248  0.914955  0.762799  0.023795  0.843190  0.112703

Big           F
Small         d         e         f
Upper
A      0.622148  0.040594  0.313898
A      0.522156  0.354165  0.285631
A      0.158870  0.398349  0.023936
B      0.124928  0.830106  0.623075
B      0.958154  0.482306  0.871059

In [250]:
df_temp1.columns
#看到的确插入了level2

MultiIndex([( '', 'Lower'),
            ('D',     'd'),
            ('D',     'e'),
            ('D',     'f'),
            ('E',     'd'),
            ('E',     'e'),
            ('E',     'f'),
            ('F',     'd'),
            ('F',     'e'),
            ('F',     'f')],
           names=['Big', 'Small'])

In [254]:
print(df_temp1.index)
#最内层索引被移出

Index(['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'], dtype='object', name='Upper')

### 4. rename_axis和rename
#### rename_axis是针对多级索引的方法，作用是修改某一层的索引名，而不是索引标签

In [260]:
print(df_temp.rename_axis(index={'Lower':'LowerLower'},columns={'Big':'BigBig'}))

BigBig                   D                             E                      \
Small                    d         e         f         d         e         f
Upper LowerLower
A     a           0.661924  0.356784  0.515799  0.847461  0.997227  0.387295
      b           0.606067  0.762374  0.760741  0.000387  0.111107  0.976741
      c           0.318938  0.452649  0.002374  0.708844  0.193136  0.851944
B     a           0.724229  0.058606  0.052831  0.540780  0.922466  0.129869
      b           0.253248  0.914955  0.762799  0.023795  0.843190  0.112703
      c           0.647447  0.620334  0.094652  0.522478  0.454064  0.096015
C     a           0.827686  0.862625  0.782691  0.401394  0.136688  0.758478
      b           0.399241  0.331096  0.450248  0.519584  0.585206  0.242162
      c           0.217946  0.601073  0.119708  0.637697  0.576000  0.331378

BigBig                   F
Small                    d         e         f
Upper LowerLower
A     a           0.622148  0.040594  0.313898
      b           0.522156  0.354165  0.285631
      c           0.158870  0.398349  0.023936
B     a           0.124928  0.830106  0.623075
      b           0.958154  0.482306  0.871059
      c           0.269009  0.877485  0.153474
C     a           0.195037  0.598222  0.803005
      b           0.313178  0.623416  0.192636
      c           0.777290  0.024434  0.197917

#### rename方法用于修改列或者行索引标签，而不是索引名：

In [262]:
print(df_temp.rename(index={'A':'T'},columns={'e':'changed_e'}).head())

Big                 D                             E                      \
Small               d changed_e         f         d changed_e         f
Upper Lower
T     a      0.661924  0.356784  0.515799  0.847461  0.997227  0.387295
      b      0.606067  0.762374  0.760741  0.000387  0.111107  0.976741
      c      0.318938  0.452649  0.002374  0.708844  0.193136  0.851944
B     a      0.724229  0.058606  0.052831  0.540780  0.922466  0.129869
      b      0.253248  0.914955  0.762799  0.023795  0.843190  0.112703

Big                 F
Small               d changed_e         f
Upper Lower
T     a      0.622148  0.040594  0.313898
      b      0.522156  0.354165  0.285631
      c      0.158870  0.398349  0.023936
B     a      0.124928  0.830106  0.623075
      b      0.958154  0.482306  0.871059

## 四、常用索引型函数
### 1. where函数
#### 当对条件为False的单元进行填充：

In [264]:
print(df.head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [270]:
print(df.where(df['Gender']=='M').head())
#不满足条件的行全部被设置为NaN

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1   173.0    63.0  34.0      A+
1102    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN
1103    S_1   C_1      M  street_2   186.0    82.0  87.2      B+
1104    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN
1105    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN

#### 通过这种方法筛选结果和[]操作符的结果完全一致：

In [274]:
print(df[df['Gender']=='M'])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A
2101    S_2   C_1      M  street_7     174      84  83.3       C
2103    S_2   C_1      M  street_4     157      61  52.5      B-
2105    S_2   C_1      M  street_4     170      81  34.2       A
2201    S_2   C_2      M  street_5     193     100  39.1       B
2203    S_2   C_2      M  street_4     155      91  73.8      A+
2204    S_2   C_2      M  street_1     175      74  47.2      B-
2302    S_2   C_3      M  street_5     171      88  32.7       A
2305    S_2   C_3      M  street_4     187      73  48.9       B
2402    S_2   C_4      M  street_7     166      82  48.7       B

#### 第一个参数为布尔条件，第二个参数为填充值：

In [276]:
print(df.where(df['Gender']=='M',np.random.rand(df.shape[0],df.shape[1])).head())

        School     Class     Gender   Address      Height     Weight  \
ID
1101       S_1       C_1          M  street_1  173.000000  63.000000
1102  0.801275  0.187066   0.180868  0.642598    0.497863   0.698084
1103       S_1       C_1          M  street_2  186.000000  82.000000
1104  0.305158  0.314133    0.36453  0.736847    0.227981   0.567918
1105  0.860804   0.76093  0.0975974  0.295741    0.706321   0.958613

           Math   Physics
ID
1101  34.000000        A+
1102   0.743057  0.618599
1103  87.200000        B+
1104   0.667307  0.623311
1105   0.854680  0.111498

### 2. mask函数
#### mask函数与where功能上相反，其余完全一致，即对条件为True的单元进行填充

In [277]:
print(df.mask(df['Gender']=='M').dropna().head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2   192.0    73.0  32.5      B+
1104    S_1   C_1      F  street_2   167.0    81.0  80.4      B-
1105    S_1   C_1      F  street_4   159.0    64.0  84.8      B+
1202    S_1   C_2      F  street_4   176.0    94.0  63.5      B-
1204    S_1   C_2      F  street_5   162.0    63.0  33.8       B

In [279]:
print(df.mask(df['Gender']=='M',np.random.rand(df.shape[0],df.shape[1])).head())

         School     Class    Gender   Address      Height     Weight  \
ID
1101  0.0942307  0.154406  0.354377  0.600501    0.558359   0.218500
1102        S_1       C_1         F  street_2  192.000000  73.000000
1103   0.388026  0.140346  0.239635  0.824238    0.319325   0.117391
1104        S_1       C_1         F  street_2  167.000000  81.000000
1105        S_1       C_1         F  street_4  159.000000  64.000000

           Math   Physics
ID
1101   0.183803  0.578852
1102  32.500000        B+
1103   0.404061  0.662818
1104  80.400000        B-
1105  84.800000        B+

### 3. query函数

In [281]:
print(df.head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

#### query函数中的布尔表达式中，下面的符号都是合法的：行列索引名、字符串、and/not/or/&/|/~/not in/in/==/!=、四则运算符

In [284]:
print(df.query('(Address in ["street_6","street_7"])&(Weight>(70+10))&(ID in [1303,2304,2402])'))

     School Class Gender   Address  Height  Weight  Math Physics
ID
1303    S_1   C_3      M  street_7     188      82  49.7       B
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2402    S_2   C_4      M  street_7     166      82  48.7       B

## 五、重复元素处理
### 1. duplicated方法
#### 该方法返回了是否重复的布尔列表

In [285]:
print(df.duplicated('Class').head())

ID
1101    False
1102     True
1103     True
1104     True
1105     True
dtype: bool

#### 可选参数keep默认为first，即首次出现设为不重复，若为last，则最后一次设为不重复，若为False，则所有重复项为False

In [286]:
print(df.duplicated('Class',keep='last').tail())

ID
2401     True
2402     True
2403     True
2404     True
2405    False
dtype: bool

In [289]:
print(df.duplicated('Class',keep=False).head())

ID
1101    True
1102    True
1103    True
1104    True
1105    True
dtype: bool

### 2. drop_duplicates方法
#### 从名字上看出为剔除重复项，这在后面章节中的分组操作中可能是有用的，例如需要保留每组的第一个值：

In [292]:
print(df.drop_duplicates('Class'))

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
2401    S_2   C_4      F  street_2     192      62  45.3       A

#### 参数与duplicate函数类似：

In [294]:
print(df.drop_duplicates('Class',keep='last'))

     School Class Gender   Address  Height  Weight  Math Physics
ID
2105    S_2   C_1      M  street_4     170      81  34.2       A
2205    S_2   C_2      F  street_7     183      76  85.4       B
2305    S_2   C_3      M  street_4     187      73  48.9       B
2405    S_2   C_4      F  street_6     193      54  47.6       B

#### 在传入多列时等价于将多列共同视作一个多级索引，比较重复项：

In [295]:
print(df.drop_duplicates(['School','Class']))

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
2101    S_2   C_1      M  street_7     174      84  83.3       C
2201    S_2   C_2      M  street_5     193     100  39.1       B
2301    S_2   C_3      F  street_4     157      78  72.3      B+
2401    S_2   C_4      F  street_2     192      62  45.3       A

## 六、抽样函数
#### 这里的抽样函数指的就是sample函数
#### （a）n为样本量

In [297]:
print(df.sample(n=5))

     School Class Gender   Address  Height  Weight  Math Physics
ID
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2301    S_2   C_3      F  street_4     157      78  72.3      B+
1302    S_1   C_3      F  street_1     175      57  87.7      A-
2303    S_2   C_3      F  street_7     190      99  65.9       C

#### （b）frac为抽样比

In [298]:
print(df.sample(frac=0.05))

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1204    S_1   C_2      F  street_5     162      63  33.8       B

#### （c）replace为是否放回

In [299]:
print(df.sample(n=df.shape[0],replace=True).head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2105    S_2   C_1      M  street_4     170      81  34.2       A
1303    S_1   C_3      M  street_7     188      82  49.7       B
2404    S_2   C_4      F  street_2     160      84  67.7       B

In [301]:
print(df.sample(n=1,replace=True).index.is_unique)

True

#### （d）axis为抽样维度，默认为0，即抽行

In [302]:
df.sample(n=3,axis=1).head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Physics</th>
      <th>Gender</th>
      <th>Class</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1101</td>
      <td>A+</td>
      <td>M</td>
      <td>C_1</td>
    </tr>
    <tr>
      <td>1102</td>
      <td>B+</td>
      <td>F</td>
      <td>C_1</td>
    </tr>
    <tr>
      <td>1103</td>
      <td>B+</td>
      <td>M</td>
      <td>C_1</td>
    </tr>
    <tr>
      <td>1104</td>
      <td>B-</td>
      <td>F</td>
      <td>C_1</td>
    </tr>
    <tr>
      <td>1105</td>
      <td>B+</td>
      <td>F</td>
      <td>C_1</td>
    </tr>
  </tbody>
</table>
</div>

#### （e）weights为样本权重，自动归一化

In [303]:
print(df.sample(n=3,weights=np.random.rand(df.shape[0])).head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
2101    S_2   C_1      M  street_7     174      84  83.3       C
2301    S_2   C_3      F  street_4     157      78  72.3      B+
2304    S_2   C_3      F  street_6     164      81  95.5      A-

In [304]:
#以某一列为权重，这在抽样理论中很常见
print(
df.sample(n=3,weights=df['Math']).head())

     School Class Gender   Address  Height  Weight  Math Physics
ID
2403    S_2   C_4      F  street_6     158      60  59.7      B+
2301    S_2   C_3      F  street_4     157      78  72.3      B+
2405    S_2   C_4      F  street_6     193      54  47.6       B